IO_LOC  "clk"   V22;
IO_PORT "clk"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "rst_n" AA13;
IO_PORT "rst_n" PULL_MODE=UP DRIVE=OFF;

IO_LOC  "tmds_d_p_0[0]" J14,H14;
IO_PORT "tmds_d_p_0[0]" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC  "tmds_d_p_0[1]" J15,H15;
IO_PORT "tmds_d_p_0[1]" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC  "tmds_d_p_0[2]" K17,J17;
IO_PORT "tmds_d_p_0[2]" PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC  "tmds_clk_p_0"  G15,G16;
IO_PORT "tmds_clk_p_0"  PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;

IO_LOC  "pa_en" Y14;
IO_LOC  "bclk"  Y17;
IO_LOC  "lrclk" AB17;
IO_LOC  "sout"  AA16;

